@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

body {
	background-color: rgb(161, 202, 179);
}
* {
	font-family: "Poppins", sans-serif;
	/* border: 1px solid red; */
}

/* [class|="col"] {
	background: yellow;
} */

/* Helper Classes */
.bg-main {
	background-color: rgb(20, 95, 235);
}

.size-140 {
	height: 140px;
	width: 140px;
}

/* .row {
	background-color: rgb(218, 208, 218);
} */

/*  Class */
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*  Usage as a mixin */
/* .element {
	.center-block();
} */
